@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Playfair+Display:wght@600&family=Source+Code+Pro:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}
.blogContainer{
    
            margin: 1% 5%;
        
}

.sidebar {
position: absolute;
    background-color: rgb(168, 165, 165);
    width: 250px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 49px;
    font-size: 20px;
}

.sidebar nav ul li {
    list-style: none;
    padding: 26px 0px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
}

.hamburger {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.cross {
    margin-left: 187px;
}

.main {
    width: 90vw;
    /* background-color: red; */
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}
.btn {
    border-radius: 13px;
    padding: 4px 8px;
    background-color: dodgerblue;
    color: white;
    margin: 0px 2px;
    cursor: pointer;
}
.blogContainer h1 {
    font-family: 'Fira Sans', sans-serif;
    margin: 7px 10px;
    font-size: 34px;
    font-weight: bold;
}

.blogContainer .blogItem {
    margin: 15px 14px
}

.blogItem h2 {
    font-family: 'Fira Sans', sans-serif;
}

.blogItem p {
    padding: 6px 0px;
    font-family: 'Source Code Pro', monospace;
}
@media only screen and (max-width:1555px) {
    .sidebar {
        height: 105vh;
        width: 140px;
    }

    .sidebar nav {
        padding: 3px 20px;
    }

    .infoContainer {
        flex-direction: column-reverse;
    }

    .infoContainer .devInfo {
        text-align: center;
    }

    .infoContainer .devPic {
        text-align: center;

    }

    .infoContainer .devPic img {
        margin-top: 278px;
    }

    .hello {
        font-size: 45px;
    }

    .name {
        font-size: 30px;
    }

    .about {
        font-size: 20px;
    }

    .moreAbout {
        font-size: 15px;
    }

    .cross {
        margin-left: 103px;
        margin-top: 10px;
    }
        .blogContainer {
    
            margin: 1% 7%;
    
        }
}